name: pull-request-build

on: [ pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 11
      - uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest
      - name: Set env
        run: |
          echo 'REVIEWDOG_GITHUB_API_TOKEN=${{ secrets.GITHUB_TOKEN }}' >> $GITHUB_ENV
      - name: Gradle clean
        run: |
          ./gradlew clean
      - name: Gradle build
        run: |
          ./gradlew build
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
      - name: Run reviewdog
        if: always()
        run: |
          cat build/reports/detekt/detekt-merged-report.sarif | reviewdog -f=sarif -name="detekt" -reporter="github-check" -level="error" -filter-mode="nofilter" -fail-on-error
      - name: Gradle publish to mavenLocal
        run: |
          ./gradlew publishToMavenLocal
      - name: Run basic example
        run: |
          cd examples/basic
          ./gradlew clean --refresh-dependencies
      - name: Run change file example
        run: |
          cd examples/change_file
          ./gradlew clean --refresh-dependencies
          echo 'dotenv.filename=.env.staging' > gradle.properties
          ./gradlew clean
      - name: Run change template file example
        run: |
          cd examples/change_template_file
          ./gradlew clean --refresh-dependencies
      - name: Run hierarchical definitions example
        run: |
          cd examples/hierarchical_definitions
          ./gradlew clean --refresh-dependencies
      - name: Upload build report
        uses: actions/upload-artifact@v3.1.3
        with:
          name: build_reports
          path: plugin/build/reports
